<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="testSuitee" >
 <listeners>
  <listener class-name="com.extentereports.listener.ExtentReporterNG" />
  <listener class-name="com.extentereports.listener.listeners" />
  
 </listeners>
  
<test name="Validating Login page">

 <classes> 
 
 <class name="TestCases.TestLogin_User" />

 </classes>

 </test>
 
</suite>
